# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/dist # Often used for TypeScript build output
/dist-ssr
*.local

# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: Ignore VS Code workspace settings if not shared
.vscode/*
!.vscode/extensions.json
.idea

# testing
/coverage

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
